<div class="container">
    <h1>{{title}}</h1>

    <form #operationForm="ngForm" (ngSubmit)="onSubmit(operationForm)">
        <label for="concept">Concepto</label>
        <input type="text"  name="concept" #concept="ngModel" [(ngModel)]="operation.concept" required/>
        <span *ngIf="concept.touched && !concept.valid">El concepto es Obligatorio</span>

        <label for="">Monto</label>
        <input type="number"  name="amount" #amount="ngModel" [(ngModel)]="operation.amount" required/>
        <span *ngIf="amount.touched && !amount.valid">El monto es Obligatorio</span>

        <label for="date">Fecha</label>
        <input type="date"  name="date" #date="ngModel" [(ngModel)]="operation.date" required/>
        <span *ngIf="date.touched && !date.valid">La fecha es Obligatoria</span>

        <label for="">Tipo de operación</label>
        <select name="income"  name="income" #income="ngModel" [(ngModel)]="operation.income" required>
            <option value="true">Ingreso</option>
            <option value="false">Egreso</option>
        </select>

        <input class="btn-send" type="submit" value="Enviar" [disabled]="!operationForm.form.valid">
    </form>
</div>