<body>
  <div class="page-container">
    <div class="content-wrap">
      <header>
        <h1>{{inicio}}</h1>
        <div class="nav-links">
          <ul>
            <li><a [routerLink]="['/resume']" [routerLinkActive]="['active']">Home</a></li>
            <li><a [routerLink]="['/add-operation']" [routerLinkActive]="['active']">Agregar operación</a></li>
            <li><a [routerLink]="['/list']" [routerLinkActive]="['active']">Listado</a></li>
          </ul>
        </div>
        
      </header>
      <div class="container">
        <router-outlet></router-outlet>
      </div>  
    </div>
    
    <footer>
      <p>Ejercicio Javascript Alkemy de Nehuén Melo</p>
    </footer>
  </div>
</body>

